#apresentacao {
    overflow: hidden;
    position: relative;
}

#apresentacao header h2 {
  text-align: left;
  font-size: 3rem;

  background: var(--text-gradient-white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 3rem;
}

#apresentacao video.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;

    filter: brightness(.05);
}

#apresentacao::before {
    content: '';
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to left bottom, #171717, #0a0a0a, #0b0b0b, #0c0c0c, #161616);
}

#apresentacao .content {
    position: relative;
    z-index: 3;
}

#apresentacao .video video {
    width: 100%;
    border: 2px solid #fff;
    border-radius: 1rem;
}

#apresentacao h3 {
  color: var(--color-text);
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: 400;
}

#apresentacao h3 span {
  font-weight: 800;
}

#apresentacao p {
  margin-top: 2rem;
  background: var(--text-gradient-white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  font-weight: 600;

  margin-left: 2.2rem;

  position: relative;
}

#apresentacao p ion-icon {
  color: var(--purple);
  font-size: 2rem;
  position: absolute;
  left: -2.6rem;
}

#apresentacao a {
  text-decoration: none;
}

#apresentacao a button {
  margin-top: 2rem;
  border: none;
  background: var(--purple);
  color: var(--primary-color);
  font-weight: 500;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-size: 1.6rem;

  display: flex;
  gap: 1rem;
  align-items: center;

  transition: all 200ms ease-in-out;
}

#apresentacao a button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px #424242;
}

@media (min-width: 1080px) {
    .wrapper {
      width: min(112rem, 100%);
    }

    section#apresentacao::before {
        background: initial;
    }

    section#apresentacao header h2 {
      font-size: 4.5rem;
    }

    section#apresentacao .video {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      gap: 10rem;
    }

    section#apresentacao .text h3 {
      font-size: 2.5rem;
      margin-top: 0;
    }

    section#apresentacao .text p {
      font-size: 2rem;
    }

    section#apresentacao .text a button {
      padding: 1rem 4rem;
    }
  }

  @media (min-width: 1200px) {
    .wrapper {
      width: min(130rem, 100%);
    }
  }

  @media (min-width: 1400px) {
    .wrapper {
      width: min(150rem, 100%);
    }

    :root {
      font-size: 65%;
    }
  }

  @media (min-width: 1700px) {
    .wrapper {
      width: min(160rem, 100%);
    }
  }

  @media (min-width: 2000px) {
    .wrapper {
      width: min(180rem, 100%);
    }
  }